@model  SystemEvent


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/styles.css" />
    <script>
        function getDoc() {
            let inp = document.getElementById('docidinp');
            window.location = location.protocol + '//' + window.location.host + '/Operation/viewdoc/' + inp.value;
        }
    </script>
</head>
<body>
    <h2>Error detail documents</h2>
    <div style="margin: 20px;">

        <div style="margin-bottom: 20px;">
            <input type="text" id="docidinp" value="@ViewBag.documentid" />&nbsp;<input type="button" onclick="getDoc();" value="Get document" />
        </div>

        @if (Model != null)
        {
            <div>
                Loaded document: @Model.PartitionKey : @Model.RowKey
            </div>
            <div class="code">
                From program: @(Model.AppInfo?.ApplicationName ?? "unknown"), version @(Model.AppInfo?.ApplicationVersion ?? new Version(0, 0)) running at @(Model.AppInfo?.ApplicationLocation ?? "unknown location")<br />
                Operation name: @Model.OperationName<br />
                Operation result: @Model.Result<br />
                Occured: @Model.TimeStampUtc (UTC)<br />
                Other info: @Model.OtherInfo<br />
                @Html.Raw(ViewBag.objectDump)
            </div>
        }
        else
        {
            <span>Model was null</span>
        }
        <br />
        @if (ViewBag.pageException != null)
        {
            <div class="code">
                @Html.Raw(ViewBag.pageException)
            </div>
        }
    </div>
</body>
</html>
